<div class="view">
  <!-- If and function example -->
  <div class="block">
    <div class="title">
      Rest example (wather)
    </div>
    <div class="body">
      <table border="1px">
        <tr>
          <th>Wather</th>
          <th>Description</th>
        </tr>
        <tr>
          <td>{{weather.main}}</td>
          <td>{{weather.description}}</td>
        </tr>
      </table>
    </div>
  </div>
</div>
