<div class="view">
  <div class="block">
    <div class="title">
      Add and remove rows
    </div>
    <div class="body">
      <table border="1px" v-on:keypress.13="addRow">
        <tr>
          <th>Column 1</th>
          <th>Column 2</th>
          <th>&nbsp;</th>
        </tr>
        <tr v-for="(row, index) in rows">
          <td>{{row.column1}}</td>
          <td>{{row.column2}}</td>
          <td>
            <a href="#" v-on:click="removeRow(index)">Delete</a>
          </td>
        </tr>
        <tr>
          <td><input type="text" v-model="addColumn1"></td>
          <td><input type="text" v-model="addColumn2"></td>
          <td>
            <button type="button" id="addRow" v-on:click="addRow">Add</button>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
